<h1>Welcome to Media Collection</h1>
<p>You can use this tool to manage your media, links, etc. </p>

<h3>Don't have an account?</h3>
<p><strong><%= link_to "Sign-up here!", new_user_path %></strong></p>