<!DOCTYPE html>
<html>
<head>
  <title>MediaCollections</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar">You are logged in as Someguy. </div>
<%= yield %>

</body>
</html>
